.table {
  margin-top: 20px;
  overflow: scroll;
  overflow-x: hidden;
  height: 400px;
  padding: 2%;
  background-color: white;
}
.table tr:nth-of-type(odd) {
  background-color: rgb(240, 238, 238);
}
.table tr {
  display: flex;
  justify-content: space-between;
}
.table td {
  padding: 2%;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #cad5e2;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
